In [1]:
print("Mary's cosmetics")

print(f'신씨가 소리질렀다. "도둑이야".')

print("안녕하세요.\n만나서\t\t반갑습니다.")

print('naver', 'kakao', 'sk', 'samsung', sep=";")

Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
안녕하세요.
만나서		반갑습니다.
naver;kakao;sk;samsung

In [3]:
print(5/3)

삼성전자 = 500000
print(삼성전자*10)

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

1.6666666666666667
5000000
298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [20]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [24]:
num_str = "720"
num_int = int(num_str)
type(num_int)


num = 100
num_str = str(num)
num_str

str = "15.79"
type(float(str))

float

In [ ]:
# 문자열 ~30번

letters = 'python'
print(letters[0], letters[2])

license_plate = "24가 2210"
print(license_plate[-4:])

string = "홀짝홀짝홀짝"
print(string[::2]) # 시작인덱스:끝인덱스:오프셋

# 문자열을 거꾸로 뒤집어 출력하세요
string = "PYTHON"
print(string[::-1])

# - 없애서 출력
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))
print(phone_number.replace("-", ""))

# 도메인 출력
url = "http://sharebook.kr"
print(url.split('.')[-1])

# 대문자로 바꾸깅 (문자열은 immutable이라 안 바뀐당!)
string = 'abcdfe2a354a32a'
string.replace('a', 'A')
print(string)

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
abcdfe2a354a32a

In [21]:
# 문자열 ~40번
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

# % formatting 형식지정 ("문자열 % 형식지정자" % 값)
# %s → 문자열 (str)
# %d → 정수 (int)
# %f → 실수 (float)
name1 = "김민수" 
age1 = 10
print('이름: %s' %name1, '나이: %d' %age1)
print('이름: %s 나이: %d' %(name1, age1))

print(f'이름: {name1} 나이: {age1}')


상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",",'')
print(int(상장주식수))

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

data = "   삼성전자    "
data.strip()

python java python java python java python java
이름: 김민수 나이: 10
이름: 김민수 나이: 10
이름: 김민수 나이: 10
5969782550
2020/03

'삼성전자'

In [ ]:
# ~50
ticker = "btc_krw"
ticker.upper()

x = 'hello'
print(x.capitalize())

file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xlss'))) # 튜플 중 하나라도 맞으면 True

file_name = "2020_보고서.xlsx"
print(file_name.startswith('1'))

a = "hello_world"
a.split('_')

date = "2020-05-01 .     "
date.rstrip()

Hello
True
False

'2020-05-01 .'

In [57]:
# ~60 리스트
movie_rank = {
    1: '닥스',
    2: '스플릿',
    3: '럭키'
}
movie_rank


# 사이에 바보 넣어~~ insert(인덱스, 원소)
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '바보')
print(movie_rank)

del movie_rank[3]
print(movie_rank)


lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

nums = [1, 2, 3, 4, 5]
min(nums)

print(sum(nums))

total = 0
for num in nums:
    total += num
print(total)


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

['닥터 스트레인지', '바보', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '바보', '스플릿', '배트맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
15
15

12

In [71]:
# 메서드 = “그 자료형만의 전용 버튼”
# 👉 그래서 객체.메서드() 형태

# "hello".upper()   # 문자열만 가능
# [1,2,3].append(4) # 리스트만 가능


# 함수 = “파이썬 공용 도구”
# 👉 그래서 그냥 함수이름(데이터)

# len("hello")   # 문자열, 리스트, 튜플, 딕셔너리 다 됨
# min([3,1,5])   # 자료형 가리지 않음

## `# ~70`

In [ ]:

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]
nums[1::2]
nums[::-1]

interest = ['삼성전자', 'LG전자', 'Naver']
del interest[1]
interest

# join
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

print('/'.join(interest))

print('\n'.join(interest))


# split
string = "삼성전자/LG전자/Naver"
string.split('/')

# 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
[1, 2, 3, 4, 5, 9, 10]

## `# ~80 튜플`

In [ ]:

# tuple은 원소(element)의 값을 변경할 수 없습니다.
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [90]:
# 괄호 안에 안 넣어도 튜플로 인식
t = 1, 2, 3, 4
type(t)

# 리스트로 변환하기
t = list(t)
t

# 튜플의 언패킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

t = tuple(range(2, 31, 2))
t

apple banana cake

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30)

## `~90 딕셔너리`

In [104]:
# 좌측 8개의 값을 valid_score 변수에 바인딩
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*vaild_score,_,_ = scores
print(vaild_score)

_,*vaild_score,_ = scores
print(vaild_score)

ice = {
    '메로나':1000,
    '폴라포':1200,
    '빵빠레':1800
}
print(ice)

# 딕셔너리에 값 추가
ice['죠스바'] = 1200
print(ice)

# 딕셔너리에 값 불러오기
print('메로나 가격:', ice['메로나'])

# 값 수정
ice['메로나']=5000
print(ice['메로나'])

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200}
메로나 가격: 1000
5000

## `# ~100`

In [113]:
inventory = {'메로나':[3000, 30], '비비빅':[4000, 10]}
print(inventory['메로나'][0])
print(inventory['메로나'][-1])

inventory['월드콘'] = [5000, 15]
print(inventory)

# 키값으로만 구성된 리스트 만들기
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))
print(list(icecream.values()))

3000
30
{'메로나': [3000, 30], '비비빅': [4000, 10], '월드콘': [5000, 15]}
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]