In [1]:
print("Mary's cosmetics")

print(f'신씨가 소리질렀다. "도둑이야".')

print("안녕하세요.\n만나서\t\t반갑습니다.")

print('naver', 'kakao', 'sk', 'samsung', sep=";")

Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
안녕하세요.
만나서		반갑습니다.
naver;kakao;sk;samsung

In [2]:
print(5/3)

삼성전자 = 500000
print(삼성전자*10)

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

1.6666666666666667
5000000
298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [3]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [4]:
num_str = "720"
num_int = int(num_str)
type(num_int)


num = 100
num_str = str(num)
num_str

str = "15.79"
type(float(str))

float

In [5]:
# 문자열 ~30번

letters = 'python'
print(letters[0], letters[2])

license_plate = "24가 2210"
print(license_plate[-4:])

string = "홀짝홀짝홀짝"
print(string[::2]) # 시작인덱스:끝인덱스:오프셋

# 문자열을 거꾸로 뒤집어 출력하세요
string = "PYTHON"
print(string[::-1])

# - 없애서 출력
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))
print(phone_number.replace("-", ""))

# 도메인 출력
url = "http://sharebook.kr"
print(url.split('.')[-1])

# 대문자로 바꾸깅 (문자열은 immutable이라 안 바뀐당!)
string = 'abcdfe2a354a32a'
string.replace('a', 'A')
print(string)

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
abcdfe2a354a32a

In [6]:
# 문자열 ~40번
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

# % formatting 형식지정 ("문자열 % 형식지정자" % 값)
# %s → 문자열 (str)
# %d → 정수 (int)
# %f → 실수 (float)
name1 = "김민수" 
age1 = 10
print('이름: %s' %name1, '나이: %d' %age1)
print('이름: %s 나이: %d' %(name1, age1))

print(f'이름: {name1} 나이: {age1}')


상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",",'')
print(int(상장주식수))

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

data = "   삼성전자    "
data.strip()

python java python java python java python java
이름: 김민수 나이: 10
이름: 김민수 나이: 10
이름: 김민수 나이: 10
5969782550
2020/03

'삼성전자'

In [7]:
# ~50
ticker = "btc_krw"
ticker.upper()

x = 'hello'
print(x.capitalize())

file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xlss'))) # 튜플 중 하나라도 맞으면 True

file_name = "2020_보고서.xlsx"
print(file_name.startswith('1'))

a = "hello_world"
a.split('_')

date = "2020-05-01 .     "
date.rstrip()

Hello
True
False

'2020-05-01 .'

In [8]:
# ~60 리스트
movie_rank = {
    1: '닥스',
    2: '스플릿',
    3: '럭키'
}
movie_rank


# 사이에 바보 넣어~~ insert(인덱스, 원소)
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '바보')
print(movie_rank)

del movie_rank[3]
print(movie_rank)


lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

nums = [1, 2, 3, 4, 5]
min(nums)

print(sum(nums))

total = 0
for num in nums:
    total += num
print(total)


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

['닥터 스트레인지', '바보', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '바보', '스플릿', '배트맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
15
15

12

In [9]:
# 메서드 = “그 자료형만의 전용 버튼”
# 👉 그래서 객체.메서드() 형태

# "hello".upper()   # 문자열만 가능
# [1,2,3].append(4) # 리스트만 가능


# 함수 = “파이썬 공용 도구”
# 👉 그래서 그냥 함수이름(데이터)

# len("hello")   # 문자열, 리스트, 튜플, 딕셔너리 다 됨
# min([3,1,5])   # 자료형 가리지 않음

## `# ~70`

In [10]:

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]
nums[1::2]
nums[::-1]

interest = ['삼성전자', 'LG전자', 'Naver']
del interest[1]
interest

# join
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

print('/'.join(interest))

print('\n'.join(interest))


# split
string = "삼성전자/LG전자/Naver"
string.split('/')

# 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
[1, 2, 3, 4, 5, 9, 10]

## `# ~80 튜플`

In [11]:

# tuple은 원소(element)의 값을 변경할 수 없습니다.
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 괄호 안에 안 넣어도 튜플로 인식
t = 1, 2, 3, 4
type(t)

# 리스트로 변환하기
t = list(t)
t

# 튜플의 언패킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

t = tuple(range(2, 31, 2))
t

apple banana cake

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30)

## `~90 딕셔너리`

In [ ]:
# 좌측 8개의 값을 valid_score 변수에 바인딩
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*vaild_score,_,_ = scores
print(vaild_score)

_,*vaild_score,_ = scores
print(vaild_score)

ice = {
    '메로나':1000,
    '폴라포':1200,
    '빵빠레':1800
}
print(ice)

# 딕셔너리에 값 추가
ice['죠스바'] = 1200
print(ice)

# 딕셔너리에 값 불러오기
print('메로나 가격:', ice['메로나'])

# 값 수정
ice['메로나']=5000
print(ice['메로나'])

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200}
메로나 가격: 1000
5000

## `# ~100`

In [29]:
inventory = {'메로나':[3000, 30], '비비빅':[4000, 10]}
print(inventory['메로나'][0])
print(inventory['메로나'][-1])

inventory['월드콘'] = [5000, 15]
print(inventory)

# 키값으로만 구성된 리스트 만들기
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))
print(list(icecream.values()))

# 97. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
print(sum(icecream.values()))

# 딕셔너리에 딕셔너리 추가!!!!
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. zip!!!
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)


date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

3000
30
{'메로나': [3000, 30], '비비빅': [4000, 10], '월드콘': [5000, 15]}
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]
6700
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}
{'apple': 300, 'pear': 250, 'peach': 400}
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# `~120`

In [38]:
user = input()
print(user*2)
print(int(user)+10)

2020
30

In [40]:
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
user = input()
num = int(user) +20
if num > 255:
    print(255)
else:
    print(num)

255

In [ ]:
# 20 뺀 값 출력. 결괏값이 0보다 작은 값이되는 경우 
# 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
user = input()
num = int(user)-20
if num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

255

In [ ]:
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.
time = input()
if time[-2:] == 0:
    print('정각')

In [ ]:
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니
fruit = ["사과", "포도", "홍시"]
user = input()
if user in fruit:
    print('정답')
else:
    print('오답')

오답

# `~130`

In [ ]:
# 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력
user = input()
if user.islower():
    print(user.upper())
else:
    print(user.lower())

b

In [ ]:
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
score = input()
score = int(score)
if 81<= score <= 100:
    print('A')
elif 61<= score <= 80:
    print('B')
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

B

In [16]:
환율 = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}

money = input()
num, currency = money.split()
print(float(num) * 환율[currency])

3501.0

In [4]:
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
num1 = input()
num2 = input()
num3 = input()
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

print(max(num1, num2, num3))

45

In [ ]:
# 125!!!!!!!!!!!!!
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.
통신사 = {'SKT':'011',
       'KT':'016', 
       'LGU':'019', 
       '알수없음':'010'}
number = input()
num = number.split('-')[0]

for key, val in 통신사.items():
    if val == num:
        print(key)
        break

# 'builtin_function_or_method' object is not subscriptable
# 내장함수나 매서드를 () 없이 사용할때 나오는 오류!

SKT

In [ ]:
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
codes = input() # input은 기본이 str!!!!!
code = codes[2]

if int(code) in [0, 1, 2]: # int로 변환하거나, ['0', '1', '2'] 숫자를 str로 바꿔줘야함
    print('강북구')
elif int(code) in [3, 4, 5]:
    print('도봉구')
else:
    print('노원구')

강북구

In [21]:
# 주민번호로 성별 판독
nums = input('주민번호:')
nums = nums.split('-')[1]

if nums[0] in ['1', '3']:
    print('남')
else:
    print('여')

남

In [22]:
#주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 출생지가 서울인지 아닌지 판단하는 코드를 작성하라
# 지역코드	출생지
# 00 ~ 08	서울
# 09 ~ 12	부산

nums = input('주민번호: ')
nums = nums.split('-')[1][1:2]

if int(nums)>=8:
    print('서울')
else:
    print('부산')

부산

In [ ]:
# 129 주민번호 유효한지 확인

# 원래 있던 방식
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")


# for문 활용
user = input('주민번호: ').replace('-', '')

weights = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
result = 0

for i in range(12):
    result += int(user[i]) * weights[i]

계산 = 11 - (result % 11)
계산2 = str(계산 % 10)

if user[-1] == 계산2:
    print('유효한 주민번호')
else:
    print('땡!!')

땡!!

In [6]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price'])-float(btc['min_price'])
if float(btc['opening_price']) - 변동폭 > float(btc['max_price']):
    print('상승장')
else:
    print('락장')

락장

# `~140` for문 활용

In [7]:
변수 = [10, 20, 30]

for num in 변수:
    print(num)

10
20
30

In [9]:
for 변수 in [10, 20, 30]:
    print(변수)
    print('------')

10
------
20
------
30
------

# `~150` for문

In [10]:
for 리스트 in [100, 200, 300]:
    print(리스트+10)

110
210
310

In [15]:
# 글자수
for 리스트 in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(len(리스트))

# 이름이랑 글자수
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

for 첫글자 in 리스트:
   print(첫글자[0])

6
4
4
dog 3
cat 3
parrot 6
d
c
p

In [19]:
리스트 = [1, 2, 3]
for num in 리스트:
    print(f'3 x {num}')

for num in 리스트:
    print(f'3 x {num} = {3 * num}')

3 x 1
3 x 2
3 x 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [22]:
# 148
list = ['가', '나', '다', '라']
for 한글 in list[1:]:
    print(한글)

for 한글 in list[::2]:
    print(한글)

나
다
라
가
다

#  `~160`

In [24]:
# 음수만 출력
list = [3, -20, -3, 44]
for num in list:
    if num < 0:
        print(num)

-20
-3

In [18]:
# for문을 사용해서 3의 배수만을 출력하라.

list = [3, 100, 23, 44]

for num in list:
    if num % 3 == 0:
        print(num)


# 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]

for num in 리스트:
    if num % 3 == 0 and num<20:
        print(num)

# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
for 길이 in 리스트:
    if len(길이) >= 3:
        print(길이)

# 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for alpha in 리스트:
    if alpha.isupper():
        print(alpha)

for lower in 리스트:
    if lower.islower():
        print(lower)

# 이름의 첫 글자를 대문자로 변경해서 출력하라.

list = ['dog', 'cat', 'parrot']
for l in list:
    first = l[0].upper()
    second = l[1:]
    print(first+second)

3
12
18
study
python
language
A
D
b
c
Dog
Cat
Parrot

In [21]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for l in 리스트:
    x = l.split('.')
    print(x[1])

py
py
hwp

# `~170`

In [45]:
# range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for num in range(2022, 2051, 4):
    print(num)

# 3의 배수
for n in range(3, 16, 3):
    print(n)

# 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for n in range(4):
    print(4 - n)

2022
2026
2030
2034
2038
2042
2046
2050
3
6
9
12
15
4
3
2
1

In [3]:
sum = 0
# 10까지 다 더하기
for n in range(11):
    sum += n
print(sum)

# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
sum2 = 0
for n in range(11):
    if n % 2 == 1:
        sum2 += n
print(sum2)

# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
sum3 = 1
for n in range(1, 11):
    sum3 *= n
print(sum3)

55
25
3628800

# `~180`

In [17]:
price_list = [3210, 3315, 3700, 3950]
for i, v in enumerate(price_list):
    print(i, v)

print('------같은 방법---------')

for i in range(4):
    print(i, price_list[i])

print('-------------------')

for i in range(4):
    print((len(price_list)-1) -i,  price_list[i])

print('-------------------')

for i in range(1, 4):
    print(90+10 * i, price_list[i])

0 3210
1 3315
2 3700
3 3950
------같은 방법---------
0 3210
1 3315
2 3700
3 3950
-------------------
3 3210
2 3315
1 3700
0 3950
-------------------
100 3315
110 3700
120 3950

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

# 177
my_list = ["가", "나", "다", "라"]
for i in range(1, 4):
    print(my_list[-i], my_list[-i-1])

## 혹은 range를 거꾸로 돌리기
for i in range(len(my_list)-1, 0, -1):  # 3,2,1
    print(my_list[i], my_list[i-1])

가 나
나 다
다 라
가 나 다
나 다 라
다 라 마
라 다
다 나
나 가
라 다
다 나
나 가

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

ValueError: too many values to unpack (expected 2)