### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [ ]:
#range 사용
nums = range(5, 101, 5)
print(list(nums))


#반복문 사용!!!!!!!!!!!!!
result = []
num = 0
# 반복을 합니다, 5를 더하는 것, 50이 되었을 때까지

while True: # 이때까지 무한반복해
    num += 5
    #print(num)
    result.append(num)

    if num == 50:
        break
print(result)

#만약 num = 5로 시작하고 싶으면, append가 위로 올라가면 됨

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [128]:
# 5에 1 곱합
# 5에 2 곱함
# 곱한 결과가 50보다 작을 때까지

result = []
x = 1
while True:
    num = 5 * x
    x += 1

    result.append(num)
    if num == 50:
        break
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [129]:
result = []
for num in range(1, 51):
    if num % 5 == 0:
        result.append(num)
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]




### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [132]:
nums = [1,2,3,4,5,6,7,8,9,10]

result = []

for num in nums:
    # 짝수인지
    if num % 2 == 0:
        #맞으면 넣음
        result.append(num)


#리스트 컴프리헨션
even = [num for num in nums if num % 2 == 0]
print(even)

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [13]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'lemon' : 1000}

price = fruits.values()
print(max(price))

for name, price_value in fruits.items():
    if max(price) == price_value:
        print(name, price_value)

1000
apple 1000
lemon 1000

In [ ]:
# 필요하면 변수는 만들면 돼! 무서워하지 말어라!!!!!
max
max_price = 0 # 가격은 0보다 늘 크니까
max_price_fruit = []

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간: 최고가가 경신 되었을때
    if max_price < price:
        max_price = price
        # 그때의 과일을 구하기
        max_price_fruit = [fruit]
    # 최고가가 한번 더 나왔을 때: max_price_fruit에 이미 과일이 있을 때
    elif max_price == price:
        max_price_fruit.append(fruit)
print(max_price, max_price_fruit)

1000 ['apple', 'lemon']

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [68]:
n = 3
nums = range(1, 10)
for num in nums:
    n * num
    print(f'{n} x {num} = {n * num}')
    # num += 1 이건 range라서 불필요

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [ ]:
# 이거 좀 어려웠음............................

text = input()
my_dic = {} #빈 딕셔너리를 하나 만들어

for char in text:
    if char in my_dic:
        # 만약 현재 문자(char)가 딕셔너리(my_dic)의 키로 이미 존재한다면,
        # 해당 문자의 카운트(값)를 1 증가시킵니다.
        my_dic[char] += 1 
    else:
        my_dic[char] = 1

print(my_dic)

{'d': 7, 's': 2, 'g': 2}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

sorted(nums) #원본은 변경 안 됨
print(max(nums), min(nums))

9 1

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]
nums.sort() #원본 변경
print(nums)

max_num = max(nums)
min_num = min(nums)
print(max_num, min_num)

[1, 1, 2, 3, 4, 5, 6, 9]
9 1

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [125]:
word = input("단어를 입력하세요: ")
if word == word[::-1]:
    print('회문')
else:
    print('회문 아님')

회문 아님

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [108]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B, A | B, A & B)

{1, 2, 3} {1, 2, 3, 4, 5, 6, 7, 8} {4, 5}

### 19번. 1부터 n까지의 합 구하기. 누적 합계.

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
total = 0
n = int(input())

for num in range(1, n+1):
    if num > 0:
        total = total + num
        num -= 1
print(total) #프린트가 위치에 따라 중간값들도 나오기도, 마지막값만 나오기도 함

6

In [ ]:
n = int(input("정수를 입력하세요: ")) #어려웠따
total_sum = 0

while range(n):
    total_sum = total_sum + n
    n -= 1
print(total_sum)

10

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [91]:
nums = [1, 2, 2, 3, 4, 4, 5]
list(set(nums))

[1, 2, 3, 4, 5]