In [ ]:
# 사용자로부터 입력받은 문자열을 두 번 출력하라.

user = input()
print(user * 2)

엥엥

In [ ]:
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

user = input('숫자')
print(int(user) + 10)

30

In [ ]:
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

user = input('숫자')
if int(user) % 2:
    print('홀수')
else:
    print('짝수')

In [ ]:
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

user = input('')
num = int(user) + 20
if num > 255:
    print(255)
else:
    print(num)

255

In [59]:
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 
# 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

user = input('')
num = int(user) - 20
if num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

255

In [ ]:
#사용자로부터 입력 받은 시간이 정각인지 판별하라. ??????????????????????

time = input('시간 형식 12:05')
if time[-2:] == '00': #-2자리부터 뒤 끝까지
    print('정각')
else:
    print('정각 아님')

정각 아님

In [ ]:
#사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
user = input('과일 이름')
if user in fruit:
    print('정답')
else:
    print('오답')

오답

In [ ]:
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 
# '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input('종목명')
if 종목 in warn_investment_list:
    print('투자 경고')
else:
    print('투자혀')

투자 경고

In [61]:
#아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
과일 = input('계절입력')
if 과일 in fruit:
    print('정답')
else:
    print('오답')

정답

In [60]:
#아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('과일 입력')
if user in fruit.values():
    print('정답')
else:
    print('오답')

정답

## for문

In [63]:
numbers = [1, 2, 3, 4, 5]
total = 0

for num in range(3):
    total += num
print(total)

3

In [73]:
for a in ['A', 'B', 'C']:
    b = a.lower()
    print(b)

a
b
c

In [76]:
for x in [10, 20, 30]:
    print(x)
    print('-----')

10
-----
20
-----
30
-----

In [78]:
print('++++')
for x in [10, 20, 30]:
    print(x)

++++
10
20
30

In [ ]:
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 

list = [100, 200, 300]
for vat in list:
    print(vat + (vat * 0.1))

110.0
220.0
330.0

In [88]:
list = ["김밥", "라면", "튀김"]
for menu in list:
    print(f'오늘의 메뉴:{menu}')

오늘의 메뉴:김밥
오늘의 메뉴:라면
오늘의 메뉴:튀김

In [1]:
# 저장된 문자열의 길이를 다음과 같이 출력하라.

co_list = ["SK하이닉스", "삼성전자", "LG전자"]

for name in co_list:
    print(len(name))

6
4
4

In [4]:
co_list = ["SK하이닉스", "삼성전자", "LG전자"]

for name in co_list:
    print(name, (len(name)))

SK하이닉스 6
삼성전자 4
LG전자 4

In [8]:
# 첫번째 글자만 뽑기

for name in co_list:
    print(name[0])

S
삼
L

In [ ]:
# for문을 사용해서 다음과 같이 출력하라.
# 3 x 1
# 3 x 2
# 3 x 3

num_list = [1, 2, 3]
# num_list = (num_list)[::-1]
# for num in num_list:
#     print(f'{num} x {num-1}')

for num in num_list:
    print('3 x', num)
# 별 생쑈를 다 했는데.......... 이런 문제였다니.....

3 x 1
3 x 2
3 x 3

In [37]:
# 가 빼고 출력하기

hangles = ['가', '나', '다', '라']

for hangle in hangles:
    if hangle != '가':
        print(hangle)

# 1부터 뒤 전부
for hangle in hangles[1:]:
    print(hangle)

나
다
라
나
다
라

# 7/17

In [ ]:
print("안녕하세요. \n만나서\t반갑습니다.")
# 엔터, 탭이쥬

안녕하세요.
만나서	반갑습니다.

In [ ]:
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print('naver', 'kakao', 'sk', sep='-')

naver-kakao-sk

In [ ]:
print('first');print('second') #;은 그냥 한줄에 여러 수식 쓰려고

# 줄바꿈이 없이 출력하세요. (힌트: end='') 
print('first', end='')
print('second')

first
second
firstsecond

In [ ]:
# 각각을 바인딩 하기 -> 나중에 어떤 값인지 찾기 쉬움
시가총액 = 298
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
letters = 'python'
print(letters[0], letters[2])

#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하쇼
license_plate = "24가 2210"
print(license_plate[-4:])

# 아래의 문자열에서 '홀' 만 출력하쇼 <<<<<<<<<<<<<- 인덱스, 오프셋
string = "홀짝홀짝홀짝"
print(string[::2])

# 문자 뒤집어
string = "PYTHON"
print(string[::-1])

# 하이픈 제거해
phone_number = "010-1111-2222"
ph_num = phone_number.replace('-', ' ')
print(ph_num)
# 문자열에서 replace 메서드를 사용하면 문자열을 일부를 치환할 수 있습니다.
# 문자열은 수정할 수 없는 자료형이므로 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됩니다.


# 주소에서 도메인을 출력하쇼
url = "http://sharebook.kr"
dmn = url.split('.')
print(dmn[-1])

p t
2210
홀홀홀
NOHTYP
010 1111 2222
kr

In [ ]:
# 문자열은 수정할 수 없습니다. IMMUTABLE!!!!!!!!!!!!!!
lang = 'python'
lang[0] = 'P'

TypeError: 'str' object does not support item assignment

In [ ]:
# 29. replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A') # 새로운 string
print(string)

Abcdfe2A354A32A

In [ ]:
# 34. 실행 예: python java python java python java python java
t1 = 'python'
t2 = 'java'

In [ ]:
# 언패킹 *

data = [10, 20, 30, 40, 50, 60]

first, *middle, last = data
print(middle)

[20, 30, 40, 50]

In [93]:
my_string = "Hello"

# 1. 인덱싱 (읽어오기) - 가능!
print(my_string[0])  # H
print(my_string[4])  # o

# 2. 할당 (변경하기) - 불가능! (TypeError 발생)
# my_string[0] = 'h'
# print(my_string)
# TypeError: 'str' object does not support item assignment

# 문자열을 변경하고 싶다면, 새로운 문자열을 만들어야 합니다.
my_string = 'h' + my_string[1:] # 'h'와 'ello'를 결합
print(my_string)

H
o
hello